/.idea/
/Temp/FrameworkTempLibrary/Library/
/Temp/FrameworkTempLibrary/Temp/
/Temp/FrameworkTempLibrary/UserSettings/
/Temp/FrameworkTempLibrary/FrameworkTempLibrary.sln
Temp/FrameworkTempLibrary/Assembly-CSharp-Editor.csproj
/Temp/FrameworkTempLibrary/obj/
